@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-sans-serif;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
  background: blueviolet;
}

.container-fluid{
  margin-top: 100px;
  background: transparent;
}
